<html>
<head>
	<title>Manage Parking</title>
    <link href="/vendor/css/bootstrap.min.css" rel="stylesheet">
     <link href="/css/parking.css" rel="stylesheet">
    <style> .glyphicon-thumbs-up { cursor:pointer } </style>
</head>
<body ng-app="parking">
	<!-- navigation bar -->
	<mainmenu></mainmenu>
	<!-- main body  -->
	<mainbody></mainbody>
	<!-- main footer  -->
  	<mainfooter></mainfooter>

 	<!-- vendor css includes -->

  	<!-- vendor js includes -->
  	<script src="/vendor/js/angular.min.js"></script>
    <script src="/vendor/js/angular-ui-router.js"></script>

    <!-- app js includes -->
  	<script src="/javascripts/angularApp.js"></script>
  
    
     <!-- directives  -->
     <script src="/javascripts/directives/common.js"></script>

    <!-- controllers -->
    <script src="/javascripts/controllers/MenuCtrl.js"></script>
    <script src="/javascripts/controllers/ProfileCtrl.js"></script>
    <script src="/javascripts/controllers/MainCtrl.js"></script>
    <script src="/javascripts/controllers/AuthCtrl.js"></script>
     <!-- factories -->
    <script src="/javascripts/factories.js"></script>
    <script src="/javascripts/services/profile.js"></script>
    <script src="/javascripts/services/vechiles.js"></script>
    <script src="/javascripts/services/auth.js"></script>


  		        
</body>
</html>